@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@source inline("bg-[#4f9288] text-[#e6f4f1] bg-[#9b6581] bg-[#c8c4a0] bg-[#104e64] bg-[#7a9e9f] text-[#e6dabb] border-l-[#4f9288] border-l-[#9b6581] border-l-[#c8c4a0] border-l-[#104e64] border-l-[#7a9e9f]");

@plugin "daisyui" {
    themes: light --default;
}
@source inline("drawer-end");
@config "../tailwind.config.js";


.label-register {
    color: #9b6581;
    font-size: medium;
    font-weight: 700;
}

.react-day-picker {
    background-color: #e6dabb;
    color: #104e64;
    border-radius: 12px;
    border-color: #9b6581;
    padding: 8px;
}

.react-day-picker button {
    color: #104e64;
}

.react-day-picker button:hover {
    background-color: #9b6581;
    color: white;
}

.dark input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}



